name: Conda CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: false

      - name: Create Conda environment
        run: conda env create --file test_env.yml

      - name: Activate Conda environment and install dependencies
        run: |
          source $CONDA/bin/activate catomatic-test
          pip install -e .

      - name: Verify Conda environment
        run: |
          source $CONDA/bin/activate catomatic-test
          conda info --all
          conda list

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/src" >> $GITHUB_ENV

      - name: Run Pytest and Coverage
        run: |
          source $CONDA/bin/activate catomatic-test
          pytest --cov=catomatic src/tests/ --cov-report=xml

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Debug Codecov Bash (Optional)
        run: bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }}
