name: mypy

on: [push, pull_request]

jobs:
  type-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install package + dev deps
        run: |
          pip install .[dev]

      - name: Run MyPy
        run: |
          mypy src/catomatic/. --pretty
